body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1;
}
h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2.1rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 1.5rem;
  }
}
.numbers {
  font-family: "Helvetica Neue";
}
:focus {
  outline: none;
}
header {
  color: #0D2B61;
  max-width: 1200px;
  margin: 10px auto;
  font-family: 'Roboto Condensed', sans-serif;
}
.dark-blue,
.nav-link {
  color: #0F265A;
}
.logo {
  border: 3px solid #0D2B61;
  font-size: 36px;
  font-weight: 600;
  width: 178px;
  height: 85px;
}
.logo p {
  margin: 0.8rem 0 0;
}
@media only screen and (max-width: 576px) {
  .logo {
    border: 2px solid #0D2B61;
    font-size: 28px;
    font-weight: 600;
    width: 138px;
    height: 55px;
  }
  .logo p {
    margin: 0;
  }
}
.header-text {
  margin-bottom: 0;
  line-height: 1;
}
.call {
  font: 700 32px 'Roboto', sans-serif;
}
.block-introduction {
  background: url(images/building-2-dark.png) 0 0 / cover no-repeat;
}
.text-introduction {
  margin-top: 28%;
}
.form-introduction {
  background: url(images/femida-header.png) 0 0 / cover no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  height: 563px;
  margin: 160px 0 140px;
}
.form-title p {
  font: 500 26px 'Roboto Condensed', sans-serif;
}
input,
.input-group,
textarea {
  background: transparent;
}
textarea {
  resize: none;
}
.submit-button {
  width: 63%;
  height: 10%;
  background-color: #B0A275;
  margin: 18px auto 0;
  color: #152C62;
  font-size: 22px;
}
.submit-button:hover,
.submit-button:active {
  background-color: #70674C;
}
.block-about-us {
  padding: 8% 0 4%;
}
.about-us-text p {
  font-size: 1.1rem;
}
.get-consultation {
  font: 22px 'Playfair Display', serif;
  margin-top: 10%;
}
.block-call-now {
  background-color: #0E2E69;
  padding: 4% 0;
}
.block-testimonials {
  background: url(images/building.png) 0 0 / cover no-repeat;
  padding: 4% 0 8%;
}
.carousel-inner p {
  font-size: 1.1rem;
}
.carousel-control-prev,
.carousel-control-next {
  top: 100%;
  width: 25px;
  height: 25px;
  background-color: #10306D;
}
@media only screen and (max-width: 1200px) {
  .carousel-control-prev,
  .carousel-control-next {
    margin: 0 -6%;
  }
}
.carousel-control-prev {
  left: 47.5%;
}
.carousel-control-next {
  right: 47.5%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12px;
  height: 18px;
}
.block-news-articles {
  padding: 3% 0;
}
@media only screen and (max-width: 576px) {
  .block-news-articles {
    padding: 10% 0;
  }
}
.card-text {
  font-size: 1.25rem;
  line-height: 1.2;
}
.block-footer {
  background-color: #2B2B2B;
  padding: 4% 0;
}
.link-wrapper {
  margin: 0 15%;
}
.link-wrapper > div {
  font-size: 0.9rem;
  border-right: solid 1px;
}
@media only screen and (max-width: 991px) {
  .link-wrapper > div {
    border-right: none;
  }
}
.footer_black-nav__item {
  font-size: 0.9rem;
}
.back {
  position: fixed;
  top: 10vh;
  left: 2vw;
  padding: 2px 5px;
  background-color: #545454;
  box-shadow: 0 0 10px #545454;
  border-radius: 20px;
  font-size: 14px;
}
.fas,
.fas a {
  color: #FFFFFF;
}
